<nav class="navbar navbar-expand-md navbar-light" style="background-color: #ae80b6;"id="navbar">
  <a class="navbar-brand" href="{% url 'static_pages:home' %}" style="color:white">Write2Improve</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'posts:list'%}" style="color:white"> All Blog Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'posts:create'%}" style="color:white">Create Blog</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:profile' username=user.username %}" style="color:white">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout' %}" style="color:white">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:create' %}" style="color:white">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}" style="color:white">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>